<section class="page-header page-header--menu">
  <div class="wrapper menu-header">
    <header class="section__header page-header__header">
      {% if menu.children? %}
        <ul class="anchor-items">
          {% for child in menu.children %}
            <li class="anchor-item">
              <a href="#menu-{{child.id}}" class="anchor-scroll">
                {% if child.main_image? %}
                  {{ child.main_image | custom_image_url: "200x200#" | image_tag: "class:anchor-image" }}
                {% else %}
                  {{ 'fallback-image.gif' | asset_url | image_tag: 'alt:menus', 'class:anchor-image', 'width:200' }}
                {% endif %}
                <br>
                <p class="anchor-name">{{ child.name}}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>
    {% if menu.summary? %}
      <div class="section__main page-header__description">
        {{ menu.summary }}
      </div>
    {% endif %}
  </div>
</section>

{% if menu.children? %}
  {% for child in menu.children %}
    {% include 'menu' with menu:child, title:true %}
  {% endfor %}
{% else %}
  {% include 'menu' with menu:menu, title:true %}
{% endif %}