<section class="page-header page-header--contact">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ contact_settings.contact_title }}</h1>
    </header>
    <main class="section__main page-header__description">
      {{ contact_settings.contact_content }}
    </main>
  </div>
</section>

<section class="contact-form">
  <div class="wrapper">
    {% contact_form %}
      <fieldset class="field-group">
        <div class="input">
          <label class="label-form" for="contactFromName">{{ "Nom" | t }}</label>
          <input id="contactFromName" name="message[from_name]" type="text" placeholder="Votre nom">
        </div>
        <div class="input">
          <label class="label-form" for="contactFromEmail">{{ "Email" | t }}</label>
          <input id="contactFromEmail" name="message[from_email]" type="text" placeholder="Votre email">
        </div>
        <div class="input">
          <label class="label-form" for="contactPhone">{{ "Téléphone" | t }}</label>
          <input id="contactPhone" name="message[phone]" type="text" placeholder="Votre numéro de téléphone">
        </div>
        <div class="textarea">
          <label class="label-form" for="contactBody">{{ "Message" | t }}</label>
          <textarea id="contactBody" name="message[body]" placeholder="Votre message"></textarea>
        </div>
        <div class="submit">
          <input class="button" type="submit" value="{{ "Envoyer" | t }}">
        </div>
      </fieldset>
    {% endcontact_form %}
  </div>
</section>
